.banner-carousel {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;

    .carousel {
        width: 100%;
        z-index: 0;
        display: block;

        & img {
            opacity: 0.4;
            height: 435px;
            object-fit: cover;
        }
    }

    &-info {
        position: absolute;
        text-align: center;
        z-index: 1;

        & h1 {
            font-weight: bold;
            font-size: 38px;
            line-height: 44px;
            margin-bottom: 16px;
        }

        & p {
            font-size: 20px;
            line-height: 28px;
            width: 100%;
        }
    }
}
