.pagination {
  @include transparent;
}

.page-link {
  @include transparent;

  &:focus {
    box-shadow: none !important;
    border-color: transparent !important;
  }
}

.page-item {
  & a {
    margin: 6px;
  }

  &:focus {
    border-color: none;
  }

  &.active .page-link {
    @include normal-button;
    border-radius: 50%;
  }

  &.inactive .page-link {
    color: black;
  }
}

.page-arrow {
  width: 41px;
  & .page-link {
    color: $button-background;
    @include transparent;
  }

  &.disabled {
    &.next-arrow {
      padding-left: 7px;
    }
    &.page-item {
      color: $button-disabled-background;
      align-self: center;
      @include transparent;
    }
  }
}
