.search-bar {
    width: 514px;
    height: 40px;
    left: 659px;
    top: 139px;
    padding: 10px;

    border: 1px solid $searchbar-border;
    box-sizing: border-box;
    border-radius: 4px;

    &:hover,
    &:focus {
        outline-color: $searchbar-border-dark;
    }
}

.search-bar-icon {
    margin-left: -25px;
}
