.text-field-with-action{
    @include text();
    & .text-field-input {
        width: 300px;
        height:40px;
        margin-bottom: 10px;
    }
    .action{
        display: inline-flex;
        &.error {
            border: 1px solid $input-error;
            padding:5px;
        }
    }
    .action-string{
        margin-right: 10px;
        padding-top:1px;
        @include small-text();
    }
    .action-value{
        flex-grow:1; 
    }
    .action-value-text{
        background-color: $tag-background;
        padding: 2px;
        @include small-text();
    }
    & i {
        font-size: 16px;
    }
    & i.bi.bi-arrow-return-left::before {
        vertical-align: unset;
    }
}