.text-field {
  align-self: left;
  border: 1px solid $input-border;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 19px;
  line-height: 0;

  &:focus {
    outline-width: 0;
  }

  &:disabled {
    background: none;
    &::placeholder {
      color: $disabled-text;
    }
  }

  &.error {
    border: 1px solid $input-error;
  }
}
