.text-field {
  display: inline;

  & > * {
    vertical-align: middle;
  }

  &-input {
    align-self: left;
    border: 1px solid $input-border;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 19px;
    line-height: 0;
    width: 373px;
    height: 45px;

    &:focus {
      outline-width: 0;
    }

    &:disabled {
      background: none;
      &::placeholder {
        color: $disabled-text;
      }
    }

    &.error {
      border: 1px solid $input-error;
    }
  }

  & i {
    margin-left: -20px;
    font-size: 10px;
    color: $soft-black;

    &.error {
      color: $input-error;
    }

    &.disabled {
      color: $input-icon-color;
    }
  }
}
