.donation-item-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .details-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    background: $donation-item-form-card-color;
  }

  .item-condition-field {
    width: 50%;
  }

  .item-age-field {
    width: 25%;
  }

  .item-quantity-field {
    width: 15%;
  }

  .item-description-field {
    width: 100%;
  }

  .form-error {
    // align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}
