.request-group-table {
    @include table-base;
    width: 100%;
    overflow-x: auto;

    thead tr th {
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
    }

    th:nth-child(2), td:nth-child(2) {
        padding-left: 16px;
    }

    td {
        word-wrap: break-word;
        height: 90px;
        vertical-align: middle;
    }

    tr td:nth-child(2) {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-bottomleft: 4px;
        -webkit-border-top-left-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
    
    }
    
    tr td:last-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-bottomright: 4px;
        -webkit-border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
    }

    .data-row:hover :not(.spacing-col) {
        background-color: $selected-item-background;
    }

    .spacing-col {
        width: 64px;
    }

    .name-col {
        max-width: 182px;
    }
    .numOpen-col {
        max-width: 106px;
    }
    .types-col {
        max-width: 330px;
    }
    .nextRecipient-col {
        max-width: 232px;
    }
    .date-col {
        max-width: 138px;
    }
    .image-col {
        max-width: 80px;
    }
}

.spacing-row {
    td {
        height: 0px;
        padding: 5px 0 0 0;
    }
}

.border-row {
    td:nth-child(2) {
        padding-left: 0;
    }

    td {
        height: 0px;
        padding: 5px 0;

        .border-line {
            height: 0px;
            border-bottom: 1px solid #e0e0e0;
        }
    }
}

.requestType-tag-list {
    display: flex;
    flex-wrap: wrap;

    .requestType-tag-list-item {
        padding: 3px;
    }
}

.img-wrapper {
    width: 80px;
    height: 59px;
    border-radius: $box-border-radius;
    overflow: hidden;
        
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.no-groups-msg {
    margin-left: 80px;

    .create-group-link {
        color: $tpc-green;
    }
}
