.donation-form-page {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &-header,
    &-footer {
        width: 100%;
    }

    &-body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px 5%;
    }

    &-progress {
        width: 22%;
        display: flex;
        flex-direction: column;

        h1 {
            @include heavy-text;
            font-size: 25px;
            margin-bottom: 79px;
        }
    }

    &-content {
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 0 5%;
    }

    &-content-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        h1 {
            @include semibold-text;
            font-size: 15px;
            margin-left: 26px;
        }

        p {
            width: 100%;
            margin-top: 22px;
        }
    }

    &-instructions {
        @include semibold-text;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 42px;
    }

    &-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 122px;
        padding: 20px;
        box-shadow: 0px -4px 20px rgba(219, 219, 219, 0.25);
    }
}
