.request-group-header {
    display: flex;

    .request-group-description {
        flex: 1;
        margin-left: 160px;

        .request-group-title {
            @include heavy-text;
        }
    }

    .buttonDiv {
        position: relative;
    }

    .btn,
    .btn:hover,
    .btn:focus,
    .btn:active,
    .show > .btn-primary.dropdown-toggle {
        background-color: $admin-request-group-browser-button-color;
        color: $tpc-green;
        border-color: $tpc-green;
        height: 36px;
        width: 60px;
    }
}

.request-group-button {
    text-align: right;

    &-dropdown {
        background-color: $admin-request-group-browser-dropdown-color;
        border-radius: 4px;
        box-shadow: 0 4px 3px $admin-request-group-browser-dropdown-shadow-color;
        border: none;
        padding: 0;

        &-item {
            padding: 14px 20px;
        }
    }

    .dropdown-menu {
        margin-top: 8px;
    }
}
