.donor-request-group-browser {
  padding-bottom: 33px;

  &-header {
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
  }
  &-content {
    margin-top: 20px;
    border-top: $border-line;
  }
  &-list {
    border-right: $border-line;
  }
  
  .donor-request-group-browser-header {
    margin-bottom: 0;
  }

  .donor-request-group-browser-indiv-view {
    padding: 0;
  }
}
