.donor-impact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &-header {
    @include donor-homepage-section-header-text;
  }

  &-content {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .instructions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;

    img {
      width: 18px;
      height: 18px;
    }

    p {
      margin-bottom: 0;
      margin-left: 8px;
      font-size: 16px;
    }
  }

  .map-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-section {
    // max-width: 562px;
    // min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-left: 80px;
  }

  .stats-section {
    margin-bottom: 70px;
  }

  .stat {
    margin-bottom: 58px;

    i {
      font-size: 45px;
    }

    h1 {
      margin-left: 18px;
      margin-bottom: 0;
      font-size: 30px;
      font-weight: 500;
    }

    p {
      font-size: 20px;
      margin-bottom: 0;
    }

    .stat-top {
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .card-with-shadow {
    // max-width: 562px;
    // min-width: 50%;
    // height: 94px;
    width: 85%;
    padding: 5px 17px;

    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 85px;
      height: 85px;
      object-fit: cover;
    }

    p {
      margin-left: 16px;
      margin-bottom: 0;
      // width: calc(100% - 16px - 85px);
      white-space: pre-line;
      font-size: 20px;
    }
  }
}
