.homepage-banner {
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;

  &-info {
    position: absolute;
    text-align: center;

    & h1 {
      font-weight: bold;
      font-size: 38px;
      line-height: 44px;
      margin-bottom: 16px;
    }

    & p {
      font-size: 20px;
      line-height: 28px;
      width: 100%;
    }
  }
}
