.navbar {
  height: 156px;
  padding-left: 80px;
  padding-right: 54px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 210.24px;
  height: 48px;
}

.navbar-links {
  display: flex;
  flex-direction: row;
}
