.request-group-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 811px;
    width: 100%;

    &-page-navigation {
        margin-top: 30px;
    }

    &-scroll-window {
        border-bottom: $border-line;
        width: 100%;
    }
}
