.request-group-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 811px;

  &-page-navigation {
    margin-top: 30px;
  }

  &-scroll-window {
    border-bottom: $border-line;
    padding-right: 32px;
  }
}
