$request-group-form-input-width: 373px;

.request-group-form {
  &-modal {
    &-body {
      padding: 0px 69px 40px 75px;
      border-radius: unset;
    }
    &-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &-panel {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & .form-item {
        margin-top: 31px;
      }
    }

    .text-field-form-item {
      input {
        width: $request-group-form-input-width;
        height: 45px;
      }
      .form-item-top {
        width: $request-group-form-input-width;
      }
      .form-item-error-icon {
        margin-top: 8px;
      }
    }

    .tag-input-form-item {
      input {
        width: $request-group-form-input-width;
        height: 45px;
      }
      .form-item-top {
        width: $request-group-form-input-width;
      }
      .action {
        width: $request-group-form-input-width;
      }
      .form-item-error-icon {
        margin-top: 8px;
      }
    }
  }
}
