version: 2.1
orbs:
  gcp-cloud-run: circleci/gcp-cloud-run@1.0.2
jobs:
  lint-server:
    docker:
      - image: circleci/node
    working_directory: ~/app/server
    steps:
      - checkout:
          path: ~/app
      - run: npm install
      - run: npm run lint
  lint-client:
    docker:
      - image: circleci/node:10.19
    working_directory: ~/app/client
    steps:
      - checkout:
          path: ~/app
      - restore_cache:
          keys:
            - v1-deps-{{ checksum "package-lock.json" }}
      - run: npm install
      - save_cache:
          key: v1-deps-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run: npm run lint
  build-client:
    docker:
      - image: circleci/node:10.19
    working_directory: ~/app/client
    steps:
      - checkout:
          path: ~/app
      - restore_cache:
          keys:
            - v1-deps-{{ checksum "package-lock.json" }}
      - run: npm install
      - save_cache:
          key: v1-deps-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run: npm run build
      - persist_to_workspace:
          root: '~'
          paths:
            - 'app/client'
  deploy-server:
    docker:
      - image: circleci/node
    working_directory: ~/app/server
    steps:
      - checkout:
          path: ~/app
      - gcp-cloud-run/init:
          google-project-id: PROJECT_ID
      - gcp-cloud-run/build:
          config: './cloudbuild.staging.yaml'
      - gcp-cloud-run/deploy:
          image: 'gcr.io/${PROJECT_ID}/tpc-server'
          region: us-east1
          service-name: 'tpc-server'
          args: '--vpc-connector=tcp-server-connector --vpc-egress=all --platform=managed'
  deploy-client:
    docker:
      - image: circleci/node
    working_directory: ~/app/client
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /home/circleci/app/client/service_account.json
    steps:
      - attach_workspace:
          at: '~'
      - run: echo $GCLOUD_SERVICE_KEY > $GOOGLE_APPLICATION_CREDENTIALS
      - run: ./node_modules/.bin/firebase use staging
      - run: ./node_modules/.bin/firebase deploy --only hosting
workflows:
  server:
    jobs:
      - lint-server
      - deploy-server:
          context:
            - tpc-staging
          filters:
            branches:
              only:
                - staging
  client:
    jobs:
      - lint-client
      - build-client:
          context:
            - tpc-staging
      - deploy-client:
          requires:
            - build-client
          context:
            - tpc-staging
          filters:
            branches:
              only:
                - staging
  