$box-border-radius: 4px;
$border-line: 1px solid #e7e7e7;

/* Element background color */

$background: white;
$selected-item-background: #f7f7f7;
@mixin transparent() {
    background: none;
    border: none;
}

/* Text Config */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap"); // import Inter font

$font-stack: "Inter", sans-serif;
$faded-text-color: #afafaf;
$alt-faded-text-color: #a3a3a3;
$grey-text-color: #333333;
$faded-modal-text-color: #7d7d7d;
$normal-text-color: black;
$error-faded-color: #e7b0b5;
$white-text-color: white;
$section-header-text-color: #bbbbbb;
$tooltip-background-color: #efefef;
$tooltip-text-color: #737b7d;
$tooltip-trigger-color: #adadad;
$alert-light-color: #f8d7da;
$alert-dark-color: #721c24;
$error-color: #dc3545;
$dark-border-color: #797979;
$window-border-color: #d7d7d7;
$tpc-green: #004d57;

@mixin text() {
    font-family: $font-stack;
    font-style: normal;
    font-weight: normal;
}

@mixin normal-text() {
    @include text;
    color: $normal-text-color;
}

@mixin error-text() {
    @include text;
    color: $error-faded-color;
}

@mixin small-text() {
    @include text;
    font-size: 14px;
}

@mixin white-text() {
    @include text;
    color: $white-text-color;
}

@mixin faded-text() {
    @include text;
    color: $faded-text-color;
}

@mixin alt-faded-text() {
    @include text;
    color: $alt-faded-text-color;
}

@mixin tpc-green-text() {
    @include text;
    color: $tpc-green;
}

@mixin error-text() {
    @include text;
    color: $error-color;
}

@mixin section-header-text() {
    @include text;
    color: $section-header-text-color;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.05em;
}

@mixin table-text() {
    @include text;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.2px;
}

@mixin semibold-text() {
    @include text;
    font-weight: 500;
}

@mixin heavy-text() {
    @include text;
    font-weight: 600;
}

@mixin extra-bold-text() {
    @include text;
    font-weight: 800;
}

@mixin bold-text() {
    @include text;
    font-weight: 700;
}

@mixin light-text() {
    @include text;
    font-weight: 400;
}

/* Button Config */

$button-background: #3e3e3e;
$button-grey-background: #e9e9e9;
$button-disabled-background: #b2b2b2;
$admin-request-group-browser-button-color: #fbfbfb;

@mixin button-base() {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    border-width: 1px;
    border-radius: $box-border-radius;
    box-shadow: none;
}

@mixin alt-button() {
    @include button-base;
    @include tpc-green-text;
    background-color: $background;
    border-color: $tpc-green;
}

@mixin normal-button() {
    @include button-base;
    @include white-text;
    background-color: $button-background;
    border-color: $button-background;

    &:hover,
    &:active,
    &:visited {
        @include alt-button;
    }
}

@mixin tpc-green-button() {
    @include button-base;
    @include white-text;
    background-color: $tpc-green;
    border-color: $tpc-green;
}

@mixin grey-button() {
    @include button-base();
    background-color: $button-grey-background;
    color: black;
    border: none;
}

/* Disable scrollbar for overflow */

@mixin disable-scrollbar() {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

/* Search Bar Config */
$searchbar-border: #dcdcdc;
$searchbar-border-dark: $tpc-green;

/* Tag Config */
$tag-background: #ededed;
$tag-background-hover: #d3d3d3;

/* Table Config */
@mixin table-base {
    font-family: "Inter";
    margin-top: 20px;

    .a {
        color: $grey-text-color;
    }

    & td {
        border-top: unset;
    }

    thead th {
        @include heavy-text();
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #969696;
        padding: 11px 12px;
    }

    tbody tr {
        @include table-text();
        font-size: 16px;
    }
}

/* Modal Config */
$input-icon-color: #adadad;
$disabled-text: #adadad;
$input-error: $error-color;
$faint-input-error: #e7b0b5;
$tpc-green-hover: #00363e;

@mixin input-icon() {
    color: $input-icon-color;
}

/* Dropdown Config */
$admin-request-group-browser-dropdown-color: #f4f4f4;
$admin-request-group-browser-dropdown-shadow-color: #dbdbdb;
/* TextField Config */
$soft-black: #333333;
$textfield-input-border: #797979;
$dark-border: 1px solid $dark-border-color;
$disabled-input-border-color: #d7d7d7;

/* ScrollWindow Config */
$scroll-bar-color: #c4c4c4;
$window-border: 1px solid $window-border-color;

/* AuthModal Config */
$auth-modal-content-width: 385px;

/* Admin Homepage */
$dark-gray: #333333;
$page-arrow-color: #3e3e3e;
$page-arrow-disabled-color: #b7b7b7;

/* Donation Item Card Config */
$donation-item-card-color: #f4f4f4;
$donation-item-details-text-color: #767676;

/* Stepper Config */
$stepper-border-color: #c4c4c4;
