$box-border-radius: 4px;

/* Element background color */

$background: #e1e1e1;
$selected-item-background: #f7f7f7;
@mixin transparent() {
    background: none;
    border: none;
}

/* Text Config */
$font-stack: Inter;
$faded-text-color: #afafaf;
$normal-text-color: black;

@mixin text() {
    font-family: $font-stack;
    font-style: normal;
    font-weight: normal;
}

@mixin normal-text() {
    @include text;
    color: $normal-text-color;
}

@mixin faded-text() {
    @include text;
    color: $faded-text-color;
}

/* Button Config */

$button-background: #3e3e3e;
$button-disabled-background: #b2b2b2;
$button-text: white;

@mixin active-button() {
    background-color: $button-background;
    border-color: $button-background;
    color: $button-text;
}
