@import "config";
@import "../components/atoms/style/index";
@import "../components/molecules/style/index";
@import "../components/organisms/style/index";

body {
  @include normal-text;
  // prevent wrapping from hyphenating words
  -webkit-hyphens: none;
  -moz-hyphens:    none;
  -ms-hyphens:     none;
  hyphens:         none;
}

img {
  border-radius: $box-border-radius;
}